.header{
    display: flex;
    height: 60px;
    background-color: aquamarine;
    margin-top: 0px;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.header a{
    text-decoration: none;
    margin-left: 30px;
}
.header a:hover{
    color: rgb(242, 186, 4);
}