.blog-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 100px;
    gap: 30px;
    position: sticky;

}
.blog-side{
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 85px 30px 95px;
}
.all-blog{
    grid-template-rows: repeat(3, 1fr);
}