.picture img{
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}
.author{
    display: flex;
}
.author img{
    width: 50px;
    border-radius: 50px;
}
h3{
    margin-left: 20px;
}
.author-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    color: rgb(136, 205, 41);
}
.bookmark{
    display: flex;
}
.bookmark{
    display: flex;
}