.picture img{
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}
.author{
    display: flex;
}
.author img{
    width: 50px;
    border-radius: 50px;
}
h3{
    margin-left: 20px;
}
.author-data{
    display: flex;
    justify-content: space-between;
}
button{
    color: rgb(43, 16, 243);
    background-color: aqua;
}
.bookmark{
    display: flex;
}
.book-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bookmark-item{
    display: flex;
    align-items: center;
}